<%- include('partials/head')%>
<%- include('partials/nav')%>

<% const {
  id = 'new',
  customerFirstName = '',
    customerLastName = '',
    phone = '',
    email = '',
    street = '',
    city = '',
    postcode = '',
    country = '',
    hottubModel = {},
    comments= ''
} = data;
 %>

<div id="messageAddEditCustomer" class="messageDiv">
  <!-- message here -->
</div>
<h2 id="form" data-id="<%- id%>" class="subTitle"><%- subTitle %></h2>
<div id="addCustomerForm" class="boxOne">
  <button class="smallBtnOne clearAllInput">Clear All</button><br>
  <label class="cusLabel" for="customerFirstName">First Name</label>
  <input value="<%- customerFirstName%>" id="customerFirstName" class="inputs cusInput" type="text"
    name="customerFirstName" placeholder="first name" required>
    <button data-name="customerFirstName" class="smallBtnOne clearInputVal">Clear</button><br>
  <label class="cusLabel" for="customerLastName">Last Name</label>
  <input value="<%- customerLastName%>" id="customerLastName" class="inputs cusInput" type="text"
    name="customerLastName" placeholder="last name" required>
    <button data-name="customerLastName" class="smallBtnOne clearInputVal">Clear</button><br>
  <label class="cusLabel" for="phone">Phone Number</label>
  <input value="<%- phone%>" id="phone" class="inputs cusInput" type="tel" name="phone" placeholder="e.g. 6041231234"
    required>
    <button data-name="phone" class="smallBtnOne clearInputVal">Clear</button><br>
  <label class="cusLabel" for="email">email</label>
  <input value="<%- email%>" id="email" class="inputs cusInput" type="email" name="email"
    placeholder="e.g. example@example.com">
    <button data-name="email" class="smallBtnOne clearInputVal">Clear</button><br>
  <h3 class="inoutSectionTitle sectionTitle">Address</h3>
  <label class="cusLabel" for="street">Street</label>
  <input value="<%- street%>" id="street" class="inputs cusInput" type="text" name="street"
    placeholder="e.g. 123 main street">
    <button data-name="street" class="smallBtnOne clearInputVal">Clear</button><br>
  <label class="cusLabel" for="city">City</label>
  <input value="<%- city%>" id="city" class="inputs cusInput" type="text" name="city" placeholder="e.g. Vancouver">
  <button data-name="city" class="smallBtnOne clearInputVal">Clear</button><br>
  <label class="cusLabel" for="postcode">Postcode</label>
  <input value="<%- postcode%>" id="postcode" class="inputs cusInput" type="text" name="postcode"
    placeholder="e.g. V1A 3B6">
    <button data-name="postcode" class="smallBtnOne clearInputVal">Clear</button><br>
  <label class="cusLabel" for="country">Country</label>
  <input value="<%- country%>" id="country" class="inputs cusInput" type="text" name="country"
    placeholder="e.g. canada">
    <button data-name="country" class="smallBtnOne clearInputVal">Clear</button><br>

  <h3 class="inoutSectionTitle sectionTitle">Hottub</h3>
  <label class="hottubLabel" for="model">Hottub Model</label>
  <select data-name="<%- hottubModel.brand%>" name="brand" id="brandSelect" class="brandSelect" >
    <!-- insert data from addEditCustomer.js (client side) -->
  </select>

  <select  data-name="<%- hottubModel.model%>" name="model" id="modelSelect">
    <!-- insert data from addEditCustomer.js (client side) -->
  </select>

  <div id="modelBtnDiv">
    <span class="modelText hottubLabel">You cannot find a mode or brand?</span>
    <a href="productConfig" id="addModelDivOpenBtn" class="smallBtnOne">Product Configuration</a>
  </div>

  <label for="comments">Comments</label>
  <button data-name="comments" class="smallBtnOne clearInputVal">Clear</button><br>
  <textarea name="comments" id="comments" class="inputs" cols="100" rows="10"><%- comments%></textarea>
  <button id="newCustomerButton" class="btn">Submit</button>
</div>
<%- include('partials/footer') %>