<%- include('partials/head')%>
<%
  const dataID = () => ` data-id="${data._id}"`;
%>
<div class="headerDiv">
  <a href="/"><img class="pageLogo" src="/images/logo.png" alt="logo"></a>
  <ul class="nav">
    <a class="navLink" href="/">
      <li class="navLi">Logout</li>
    </a>
    <a class="navLink" href="/customerList">
      <li class="navLi">Customer List</li>
    </a>
    <a class="navLink" href="/addEditCustomer"><li class="navLi">Add New Customer</li></a>
    <a class="navLink" href="/productConfig">
      <li class="navLi">Product Configuration</li>
    </a>
  </ul>
</div>
<div id="customerDetailDiv">
  <h2>Customer Details</h2>
  <div id="cusDetailIcons">
    <i class="fas fa-edit editCustomer customerPageIcon" <%- dataID()%>>EDIT</i>
    <i class="fas fa-trash-alt removeCustomer customerPageIcon" <%- dataID()%>>DELETE</i>
  </div>
  <div id="detailDiv" <%- dataID()%>>
    <div>
      <h3 class="cusDetailHeader">CustomerID:</h3>
      <p class="cusDetailData"><%- data._id%></p>
      <h3 class="cusDetailHeader">Hottub Model: </h3>
      <p id="hottubBrandModel" class="cusDetailData"><%- data.hottubModel.brand %> / <%- data.hottubModel.model%></p>
      <div id="nameGrid">
        <div>
          <h3 class="cusDetailHeader">First Name:</h3>
          <p class="cusDetailData"><%- data.customerFirstName%></p>
        </div>
        <div>
          <h3 class="cusDetailHeader">Last Name:</h3>
          <p class="cusDetailData"><%- data.customerLastName%></p>
        </div>
      </div>
      <h3 class="cusDetailHeader">Phone Number:</h3>
      <p class="cusDetailData"><%- data.phone%></p>
      <h3 class="cusDetailHeader">email:</h3>
      <p class="cusDetailData"><%- data.email%></p>
      <h3 class="cusDetailHeader">Address:</h3>
      <p class="cusDetailData"><%- data.street %> <%- data.city %> <%-data.postcode %> <%-data.country%></p>
      <h3 class="cusDetailHeader">Comments:</h3>
      <p class="cusDetailData"><%- data.comments%></p>
    </div>
    <div id="workDiv">
      <button id="addNewWorkBtn" class="btn addHistoryBtn">ADD New History</button>
      <div id="newWorkForm" class="workForm" >
        <label for="date">Date</label>
        <input id="newDateInput" class="inputs cusInput" type="date" name="date"><br>
        <label for="work">Service</label>
        <input id="newWorkInput" class="inputs cusInput" type="text" name="work" placeholder="e.g. Fixed pump"><br>
        <button class="addEditBtn" >Submit</button>
      </div>

        <div class="serviceDiv">
          <h3 class="cusDetailHeader">Date:</h3>
          <p class="workP"></p>
          <h3 class="cusDetailHeader">service:</h3>
          <p class="workP"></p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>